* {
  box-sizing: border-box;
}
body {
  background-color: rgba(46, 204, 113, 0.25);
  font-family: 'Georgia', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
  text-shadow: 2px 0 0 #fff;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

img { max-width: 100%; }

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

a {
  color: #27ae60;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  max-width: 60em;
  margin: 0 auto;
}

@media (max-width: 60em) {
  .container {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media (min-width: 60em) {
  .col-big {
    width: 65%;
    float: left;
  }

  aside {
    background-image: linear-gradient(to bottom, #fff, #ddd);
    padding: 1em 2%;
    width: 34%;
    float: right;
    border-radius: 0.25em;
    box-shadow: 4px 5px 0 0 rgba(0, 0, 0, 0.27);
  }
  
  .pull-right {
    float: right;
    display: block;
    margin-left: 1em;
    margin-bottom: 1em;
  }
}

.lt-ie9 .col-big {

}